<h1>Clients</h1>
<h2>Show all clients</h2>

<% if clients.any? %>
  <div id="clients">
    <% clients.each do |client| %>
      <div class='client'>
        <h2><%= client.name %></h2>
        <p><strong><%= client.desc %></strong></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no clients yet</p>
<% end %>
